.personal-summary {
  background: linear-gradient(to right, #717171, #6287aa);

  .title {
    margin-bottom: 0.2rem;
  }

  .main {
    
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;

    .summary-items-container {
      width: 20%;
      background-color: #eeeeee;

      .summary-item {
        height: 0.5rem;
        background-color: #d2d2d2;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: black;
        }
      }
    }

    .view-container {
      width: 80%;
      background-color: #fff;
    }
  }
}

@media (max-width: 430px) {
  .projects {
  
    .project-container {
      overflow: hidden;
      display: block;
      position: relative;
      height: 400px;


      .project-item {
        position: absolute;
        width: 100%;

        &:first-of-type{
          display: none;
        }
  
        .title {
          margin: 0;
        }

        h5.title {
          line-height: 0.4rem;
        }
  
        article {
          font-size: 0.2rem;
  
          p {
            text-indent: 2em;
            font-size: 0.2rem;
          }
        }
  
        button {
          width: 0.45rem;
          height: 0.45rem;
          display: block;
          margin: 0.1rem auto;
          position: unset;
        }
  
        img {
          width: 100%;
        }
      }
    }
  }
}