.projects {
  background: linear-gradient(to right, #717171, #6287aa);

  .title {
    margin-bottom: 0.2rem;
  }

  .project-container {
    
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .project-item {
      width: 45%;
      background-color: #eeeeee;
      border-radius: 10px;
      position: relative;

      .title {
        color: #607d8b;
        text-shadow: none;
      }

      article {
        width: 90%;
        margin: 0.1rem auto;

        p {
          text-indent: 2em;
        }
      }

      button {
        width: 0.55rem;
        height: 0.55rem;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        bottom: 0.3rem;
        left: 50%;
        margin-left: -28px;
        cursor: pointer;
      }

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 430px) {
  .projects {
  
    .project-container {
      overflow: hidden;
      display: block;
      position: relative;
      height: 400px;


      .project-item {
        position: absolute;
        width: 100%;

        &:first-of-type{
          display: none;
        }
  
        .title {
          margin: 0;
        }

        h5.title {
          line-height: 0.4rem;
        }
  
        article {
          font-size: 0.2rem;
  
          p {
            text-indent: 2em;
            font-size: 0.2rem;
          }
        }
  
        button {
          width: 0.45rem;
          height: 0.45rem;
          display: block;
          margin: 0.1rem auto;
          position: unset;
        }
  
        img {
          width: 100%;
        }
      }
    }
  }
}